.Menu {
    margin: 0;
    border-right: 1px solid rgba( 0, 0, 0, .95);
    grid-area: sidenav;
    grid-row: 2 3;
}
.Menu nav {
    display: flex;
    flex-direction: column;
}

.Menu a {
    padding: 15px 30px;
    text-decoration: none;
    color: rgba( 0, 0, 0, .95)
}

.Menu a:hover {
    background: linear-gradient(-90deg, rgba(170, 170, 170, 1) 25%, rgba(204, 204, 204, 1) 75%, rgba(255, 255, 255, 1) 100%);
}