.App {
  margin: 0;
  display: grid;
  grid-template-columns: 150px 1fr;
  grid-template-rows: 
  100px
  1fr
  50px
  ;
  grid-template-areas:
    "logo header"
		"sidenav content" 
		"sidenav footer "
  ;
  height: 100vh;
}